@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/navigation.css";
@import "components/top-bar.css";
@import "components/nav-bar.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/kakaotalkscreen.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #f5f5f7;
  background-color: #222;
  font-family: "Open Sans", sans-serif;
}

.phone {
  border-radius: var(--horizontal-space);
  background-color: #f5f5f7;
  color: #222;
  position: fixed;
  width: 23rem;
  height: 43rem;
  right: 5rem;
  top: 7rem;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}